/* Variables */

:root {
  --basic-green: #63A63E;
  --success: #5FBB2D;
  --box-shadow: #367315;
  --special-greenlight: #8ED78F;
  --range-controls: #00ca74;
  --basic-grey: #3D546F;
  --credit: #405069;
  --navigation: #32425C;
  --header-background: #293449;
  --background-icon:  #212A3A;
  --basic-greylight: #C5C5C5;
  --text-color-grey: #A9A9A9;
  --icon-color: #C1C6CE;
  --punchers-block:#F2F6F8;
  --white: #FFF;
  --basic-backgound: #F1F5F7;
  --popular-goods:#F9F5F0;
  --lightgray: #EAEAEA;
  --text-light-grey: #F3F7F9;
  --border-button:#E5E5E5;
  --special-yellowlight: #FFD180;
  --special-yellow: #FFBF47;
  --special-yellowdelivery: #FFC047;
  --warning: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --error: #BA2732;
  --basic-red: #EE3643;
  --text-color-black: #000;
}
.page {
  height: 100%;
}

.page-body {  /**********BODY***********/
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-color-black);
  background-color:var(--white);
  background-position: top center;
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
/********************Блок ШАПКА  START ******************************/

.container940 {
  width: 940px;
  margin: 0 auto;
}

.main-header {
  background: rgba(0, 0, 0,.05);
  height:320px;
  display: flex;
  flex-direction: column;
  align-items:space-between;
  margin-bottom: 59px;
}



.main-header,
.Ravshan-title,
.main-header-my-orders,
.main-header-personal-area,
.couple-of-words-title,
.catalog-punchers-title {
  font-family: "Cuprum", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.Ravshan-title {
  display:block;
  position: relative;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-left: 45px;
  width: 299px;
  height: 23px;
  background-color:var(--white);
  color: var(--text-color-black);
  font-size: 21px;
  line-height: 21px;
}

.Ravshan-title::before {
  content: "";
  width: 20px;
  height: 18px;
  position: absolute;
  top: 11px;
  left: 25px;
  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.9;
}

.Ravshan-title::after {
  content: "";
  width: 20px;
  height: 17px;
  position: absolute;
  top: 13px;
  left: 260px;
  background-image: url("../img/icon-login-quit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.9;
}

.Ravshan-aside {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items:center;
  margin-top: 15px;
}

.main-header-my-orders,
.main-header-personal-area{
  color: var(--navigation);
  font-size: 16px;
  line-height: 18px;
}

.main-header-personal-area {
  position: relative;
  margin-left: 20px;
}


.main-header-personal-area::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  margin-top: 8px;
  margin-left: -15px;
  background-color: var(--navigation);
  border-radius: 50%
}


.main-header-background-logo {
  height:42px;
  background-color: var(--header-background);
  /*display: flex;
  justify-content: space-between;*/
  /* outline: 5px solid rgba(255,0,0,1);
  outline-offset: -5px; */
}

.background-logo-container940 {
    /* width: 100%; */
    /* margin-bottom: 46px;
    display: flex;
    justify-content: space-between; */
  /* display: grid;
  grid-template-columns: min-content 1fr;
  justify-content: space-between; */
  outline: 5px solid rgba(255,0,0,1);
  outline-offset: -5px;}

.main-header-list {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content:end; */
  /* width: 100%; */
  margin-bottom: 46px;
  display: flex;
  justify-content: space-between;
}

.main-header-item {
  /* display: block; */
  /* height: 42px; */
  margin-top: 10px;
  /* outline: 5px solid rgba(255,0,0,1);
  outline-offset: -5px; */
}

/* .main-header-form {
  background-color: transparent;
} */

.site-navigation {
  color: var(--white);
  display: flex;
  justify-content: space-between;
  height:60px;
  background-color: var(--navigation);
  box-shadow: inset 0px -5px 0px var(--header-background);
  /* display: grid;
  grid-template-columns: min-content min-content min-content min-content min-content min-content max-content;
  justify-content: space-between; */
  /*outline: 5px solid rgba(0,0,255,1);
  outline-offset: -5px;*/
  /*width:940px;*/
  /*left: 130px;*/
  }

/*.site-navigation a {
  display: block;
}*/

.main-navigation {
  /* outline: 5px solid rgba(0,0,255,1);
  outline-offset: -5px; */
  /*margin-left: 130px;*/
}

/*.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: var(--);
}*/

.site-navigation-item {
  padding-top: 18px;
  padding-right: 58px;
}

.site-navigation a {
  color: var(--white);
}

.main-header-logo {
  display:block;
  width:220px;
  height:47px;
  margin-top: -10px;
  background: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  margin-left: -20px;
}

.img-logo-technomart-head{
  margin-left: 56px;
  padding-top: 13px;
}

.img-logo-technomart-foot{
  margin-left: 56px;
  padding-top: 21px;
}

.header-block {
  /* display: grid;
  grid-template-columns: 1fr 1fr max-content;
  justify-items:stretch; */
  display: flex;
  justify-content:space-between;
  margin-top: 40px;
  margin-bottom: 44px;
  /* outline: 5px solid rgba(0,255,0,1);
  outline-offset: -5px; */
}


.header-order{
  display: block;
  margin-top:-10px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: -10px;
  background-color: var(--basic-green);
  width:150px;
  height:32px;
  text-align: center;
  color: var(--white);
}

/*************************************************************************************/
.main-header-item-order {
  margin-right: 100px;
  margin-left: 0px;
}

/* .main-header-item-cart {
  display: block;
  margin:-10px;
  padding-top: 10px;
  padding-bottom: -10px;
  background-color: var(--basic-red);
  width:150px;
  height:32px;
} */

.main-header-list a {
  color: var(--white);
  /* margin-left: 30px; */
}

.site-navigation,
.header-bookmarks,
.header-cart,
.header-order,
.main-header-input,
.header-cart-catalog {
  list-style:none;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: var(--white);
}

.main-header-list .header-bookmarks,
.main-header-list .header-cart,
 .main-header-list .header-cart-catalog{
  position: relative;
  padding-left: 30px;
}

.main-header-form {
  position: relative;
  padding-left: 30px;
  width: 271px;
  /* margin-left: -80px; */
}

.main-header-form::before {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  top: 3px;
  left: 10px;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header-bookmarks::before {
  content: "";
  width: 14px;
  height: 16px;
  position: absolute;
  top: 3px;
  left: 10px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
  /* outline: 5px solid rgba(0,255,0,1);
  outline-offset: -5px; */
}

.header-cart::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 3px;
  left: 10px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
  /* outline: 5px solid rgba(0,255,0,1);
  outline-offset: -5px; */
}

.header-bookmarks:hover::before,
.header-bookmarks:focus::before,
.main-header-form:hover::before,
.main-header-form:focus::before {
  opacity: 1;
  /* fill: var(--white); */
  /* color: white; */
}

.header-cart:hover::before,
.header-cart:focus::before {
opacity: 0.5;
}


.header-cart-catalog::before  {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 13px;
  left: 30px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header-cart-catalog {
  display: block;
  background-color: var(--basic-red);
  width:136px;
  height:32px;
  margin-top:-10px;
  padding-top: 10px;
  padding-bottom: -10px;
  margin-left: 20px;
}

.header-about {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
  margin-left: 30px;
}

.contacts-phone {
  display: block;
  position: relative;
  width: 270px;
  height: 45px;
  background: var(--text-light-grey);
  border: 3px solid var(--white);
  box-sizing: border-box;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  text-align: center;
  margin-left: 25px;
  margin-top: 18px;
  padding-top: 5px;
}

.contacts-phone::before  {
  content: "";
  width: 19px;
  height: 19px;
  position: absolute;
  top: 10px;
  left: 25px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.9;
}
.header-contact-address {
  margin: 0;
  padding: 0;
  margin-left: 15px;
  font-size: 14px;
  line-height: 24px;
  color:var(--navigation);
  text-align: center;
}

.login-link,
.registration-link {
  font-size: 21px;
  line-height: 21px;
  color: var(--text-color-black);
}

.login-link::before  {
  content: "";
  width: 19px;
  height: 19px;
  position: absolute;
  top: 3px;
  left: 23px;
  background-image: url("../img/icon-login-enter.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.9;
}

.block-header-in {
  /*outline: 5px solid rgba(250,5,15);
  outline-offset: -5px;*/
  /* display: block;
  grid-template-columns: : min-content min-content; */
  position: relative;
  margin-top: 30px;
}

.login-link {
  /*width: 121px;
  height: 45px;*/
  /*outline: 5px solid rgba(250,5,15);
  outline-offset: -5px;*/
  background-color: var(--white);
  padding: 10px 15px;
  padding-left: 50px;
  margin-right: 10px;
}

.registration-link {
  /*outline: 5px solid rgba(150,25,125);
  outline-offset: -5px;*/
  background-color: var(--white);
  padding: 10px 15px;
  padding-left: 20px;
  /*width: 150px;
  height: 45px;*/
}

/********************Блок ШАПКА  END ******************************/
/**********************Блок Наша Продукция  START **********/
.our-production {
  font-family: "Cuprum", sans-serif;
}

.our-production-item a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width:135px;
  height:38px;
  color:var(--white);
  /*outline: 5px solid rgba(150,225,25);
  outline-offset: -5px;*/
}

.our-production-block {
  display: block;
  width:135px;
  height:38px;
  background-color: rgba(255,255,255,0.3);
  text-align: center;
  mix-blend-mode: normal;
  margin-top: 14px;
  margin-left: 23px;
  padding: 12px;
  box-sizing: border-box;
}

.our-production-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  /*grid-template-rows: min-content min-content min-content;*/
  justify-content: space-between;
  grid-gap: 20px;
 /* outline: 5px solid rgba(150,225,25);
  outline-offset: -5px;*/
}

/*.our-production-title  display: none ?;*/
.visually-hidden,
.popular-goods-modal {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.our-production-info {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px;
  margin-left: 23px;
}

.our-production-materials,
.our-production-instruments,
.our-production-technics,
.our-production-discounts,
.our-production-delivery {
  width:300px;
  height:123px;
  color: var(--white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.materials-svg {
  margin-left: 55px;
  margin-top: 30px;
}

.instrument-svg {
  margin-left: 45px;
  margin-top: 35px;
}

.technics-svg {
  margin-left: 35px;
  margin-top: 40px;
}

.discounts-svg {
  margin-left: 35px;
  margin-top: 25px;
}

.delivery-svg {
  margin-left: 35px;
  margin-top: 30px;
}

.our-production-materials {
  background-color: var(--special-yellow);
}

.our-production-instruments {
  background-color: var(--special-blue);
}

.our-production-technics {
  background-color: var(--special-lilac);
}

.our-production-discounts {
  background-color: var(--special-greenlight);
  order: 2;
}

.our-production-delivery {
  background-color: var(--special-yellowdelivery);
  order: 3;
}

.slider-open,
.popular-goods-all,
.popular-manufacturers-all,
.contacts-moredetails,
.contacts-gotlost {
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width:192px;
  height:38px;
  background-color: var(--basic-red);
  color: var(--white);
  margin-top: 18px;
  padding-top: 10px;
  text-align: center;
  box-sizing: border-box;
}

/* .popular-goods-all {
  margin-top: 25px;
} */

/********************** СЛАЙДЕР  СТАРТ **********/
.slider {
  font-family: "Cuprum", sans-serif;
  font-style: normal;
  font-weight: normal;
  order:1;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-gap: 20px;
}

.slider .our-production-punchers {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  align-items: center;
  text-transform: uppercase;
  color:var(--white);
  margin-top: -240px;
  margin-left: 20px;
}

.slider-info {
  font-size: 18px;
  line-height: 24px;
  color:var(--white);
  margin-left: 20px;
  margin-top: -15px;
}

.slider-open {
  position: absolute;
  display: block;
  text-transform: uppercase;
  width:192px;
  height:38px;
  background-color: var(--basic-red);
  margin-left: 20px;
  margin-top:  70px;
  text-align: center;
}

/********************** СЛАЙДЕР  END **********/
/**********************Блок Наша Продукция  END **********/

/**********************Блок Популярные товары  START **********/
.popular-goods {
  display: flex;
  flex-direction: column;
  align-items:space-between;
  font-style: normal;
  font-weight: normal;
  margin-top: 59px;
  /* display: grid;
  grid-template-rows:1fr;
  justify-content: space-between; */
 /* outline: 5px solid rgba(150,225,25);
  outline-offset: -5px;*/
}

.popular-goods-block {
  margin-top: 20px;
  padding: 7px 14px 0 28px;
  display: flex;
  justify-content:space-between;
  background: var(--popular-goods);
  height: 89px;
  box-sizing: border-box;
  /* display: grid;
  grid-template-columns:1fr 1fr; */
  /* outline: 5px solid rgba(50,125,125);
  outline-offset: -5px; */
}

.popular-goods-list {
  margin:0;
  padding: 0;
  display: flex;
  justify-content:space-between;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; */
  /*outline: 5px solid rgba(250,125,125);
  outline-offset: -5px;*/
}

.popular-goods-item {
  margin:0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  /* align-items:space-center; */
  width: 220px;
  height: 318px;
  text-align: center;
  /* display: grid;
  grid-template-columns: 1fr; */
  /* outline: 5px solid rgba(250,125,225);
  outline-offset: -5px; */
}

.popular-goods-list,
.popular-manufacturers-list,
.footer-site-navigation-list,
.footer-our-production-list,
.footer-social-icons-list,
.main-header-list,
.catalog-punchers-menu-list,
.catalog-manufacturers-list,
.catalog-power-list,
.sorting-list,
.product-cards-list,
.page-selection-list
 {
  list-style: none;
}

.popular-goods-title,
.popular-manufacturers-title {
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  line-height: 30px;
  color:var(--navigation);
  text-transform: uppercase;
}

/* .popular-goods-title {

} */

.popular-goods-all-link {
  color: var(--white);
}

.popular-goods-modal-buy-BFG9000,
.popular-goods-modal-InBookmarks-BFG9000,
.popular-goods-modal-buy-BFG6000,
.popular-goods-modal-InBookmarks-BFG6000,
.popular-goods-modal-buy-BFG3000,
.popular-goods-modal-InBookmarks-BFG3000,
.popular-goods-modal-buy-BFG2000,
.popular-goods-modal-InBookmarks-BFG2000 {
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

.punchers-Bosch {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color:var(--text-color-black);
}

.price {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: var(--text-color-grey);
}

.discount_price {
  position: relative;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  height: 38px;
  text-transform: uppercase;
  color: var(--white);
 /*  outline: 5px solid rgba(250,125,225);
  outline-offset: -5px; */
}

  .discount_price::before{
  position: absolute;
  content: "";
  width: 141px;
  height: 38px;
  top: -10px;
  left: 45px;
  background-image: url("../img/icon-price.svg");
  z-index: -100;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.popular-goods-modal-buy-BFG9000,
.popular-goods-modal-InBookmarks-BFG9000,
.popular-goods-modal-buy-BFG3000,
.popular-goods-modal-InBookmarks-BFG3000,
.popular-goods-modal-buy-BFG6000,
.popular-goods-modal-InBookmarks-BFG6000,
.popular-goods-modal-buy-BFG2000,
.popular-goods-modal-InBookmarks-BFG2000 {
  display: block;
  width: 135px;
  height: 38px;
  border-radius: 2px;
}

.popular-goods-modal-buy-BFG9000,
.popular-goods-modal-buy-BFG6000,
.popular-goods-modal-buy-BFG3000,
.popular-goods-modal-buy-BFG2000 {
  background: var(--basic-green);
  box-shadow: inset 0px -3px 0px var(--box-shadow)/*#367315*/;
  color: var(--white);
 /* padding-top: 10px;
  padding-bottom: 20px;*/
}

.popular-goods-modal-InBookmarks-BFG9000,
.popular-goods-modal-InBookmarks-BFG6000,
.popular-goods-modal-InBookmarks-BFG3000,
.popular-goods-modal-InBookmarks-BFG2000 {
  border: 3px solid var(--basic-green);
  box-sizing: border-box;
  color: var(--navigation);
}
/**********************Блок Популярные товары  END **********/

/********************Блок Популярные Производители  START *************/
.popular-manufacturers {
  display: grid;
  grid-template-rows:1fr;
  font-style: normal;
  font-weight: normal;
}

.popular-manufacturers-block {
  margin-top: 70px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns:1fr min-content;
  justify-content:space-between;
  background: var(--popular-goods);
  height: 89px;
  box-sizing: border-box;
  padding: 7px 14px 0 28px;
}

.popular-manufacturers-list {
  margin:0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 70px;
}

.popular-manufacturers-item {
  width: 220px;
  height: 145px;
  background: var(--white);
  border: 1px solid var(--lightgray);
  box-sizing: border-box;
}

.bosch-png,
.makita-png,
.DeWALT-png,
.Interskol-png,
.Hitachi-png,
.LG-png,
.AEG-png,
.Metabo-png {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
/********************Блок Популярные Производители  END *************/

/**********************Блок СОРТИРОВКА  START **********/
.page-selection-next,
.page-selection-number {
  display: block;
  border: 1px solid var(--border-button);
  box-sizing: border-box;
  border-radius: 2px;
  text-align: center;
}

.page-selection-number,
.page-selection-next {
  padding-top: 7px;
  width: 38px;
  height: 38px;
}
.page-selection-list{
  display: grid;
  grid-template-columns: min-content min-content min-content min-content;
  grid-gap: 10px;
  justify-items: start;
}

.page-selection-list .page-selection-next {
  width: 140px;
}

.filter-sorting {
  display: grid;
  grid-template-columns: min-content 1fr;
  justify-content: space-between;
  /* grid-gap: 20px; */
}

.sorting-cards-block {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: space-between;
}

.sorting-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-between;
}

.product-cards-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.sorting-list {
  /* justify-items:center; */
  align-items:center;
}

/**********************Блок СОРТИРОВКА  END **********/

 /************************Блок СЕРВИСЫ  START ************************** */
.section-services {
  height: 522px;
  background-color: var(--basic-backgound);
  /*outline: 5px solid rgba(250,125,125);
  outline-offset: -5px;*/
}

.services {
  font-family: "Cuprum", sans-serif;
  font-style: normal;
  display: grid;
  grid-template-columns: :1fr 1fr 1fr;
  grid-template-rows:1fr ;
  justify-content: space-between;
  /*outline: 5px solid rgba(250,125,125);
  outline-offset: -5px;*/
  padding-top: 64px;
}

.services-list {
  margin-left: -30px;
}

.services-block {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-left: 10px;
}

.delivery-block {
  margin-left: 80px;
  margin-top: -12px;
}

.services-titles,
.services-delivery,
.contacts-titles {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color:var(--text-color-black);
}

.services-delivery {
  color:var(--navigation);
}

.services-delivery-item {
  position: relative;
  width: 240px;
  height: 61px;
  background-color: color: var(--white);
  box-shadow: 0px 1px 0px var(--white);
  list-style: none;
}

.services-delivery-link {
  position: absolute;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color:var(--navigation);
}

.services-delivery-item {
  position: relative;
  width: 240px;
  height: 61px;
  background-color:var(--white);
  box-shadow: 0px 1px 0px var(--white);
}

.services-delivery-link,
.services-guarantee-link,
.services-credit-link {
  margin-left: 20px;
  margin-top: 15px;
}

.services-guarantee-item,
.services-credit-item {
  position: relative;
  width: 240px;
  height: 61px;
  background-color:var(--navigation);
  box-shadow: 0px 1px 0px var(--header-background), inset 0px 1px 0px var(--credit);
  list-style: none;
}

.services-guarantee-link,
.services-credit-link {
  position: absolute;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--white);
}
/************************Блок СЕРВИСЫ  END ************************** */

/******************Блок Компания Техномарт-Контакты  START ***********/
.contacts {
  font-family: "Cuprum", sans-serif;
  font-style: normal;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  /*justify-content: space-between;*/
  /*margin-bottom: 70px;*/
}

.contacts-moredetails-link,
.contacts-gotlost-link {
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  background-color:var(--basic-red);
  height: 38px;
}

.contacts-moredetails-link {
  width: 220px;
}

.contacts-gotlost-link {
  width: 300px;
  padding-top: 10px;
  box-sizing: border-box;

}

.contacts-block2 {
  margin-left: 179px;
  text-align: center;
}

.contacts-item {
  font-size: 18px;
  line-height: 24px;
  color:var(--text-color-black);
}
/******************Блок Компания Техномарт-Контакты  END ***********/

/************************Блок ПОДВАЛ  START ************************ */
.page-footer {
  /* display: grid;
  grid-template-rows: 1fr 1fr; */
  display: flex;
  flex-direction: column;
  align-items:space-between;
  font-family: "Cuprum", sans-serif;
  font-style: normal;
  font-weight: normal;
  margin-top:70px;
  background: var(--navigation);
  /*outline: 5px solid rgba(255,0,0,0.7);
  outline-offset: -5px;*/
}

.page-footer-block {
  height: 193px;
}

/*.footer-top {
  outline: 5px solid rgba(255,110,01,1);
  outline-offset: -5px;
}*/

.footer-site-navigation {
  display: flex;
  justify-content: space-between;
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between; */
}

.footer-site-navigation-list {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  padding-left: 10px;
  padding: 0;
  /* outline: 5px solid rgba(255,110,01,1);
  outline-offset: -5px; */
}

.footer-site-navigation-list {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  margin-left: -100px;
  margin-top: 37px;
}

.footer-site-navigation-contacts {
  display: flex;
  justify-content: start;
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
}

.footer-our-production-list {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin-top:20px;
  /* outline: 5px solid rgba(255,110,01,1);
  outline-offset: -5px; */
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; */
}

.footer-bottom {
  height: 107px;
  background: var(--header-background);
 /* outline: 5px solid rgba(155,20,51);
  outline-offset: -5px;*/
}

.footer-bottom-container940 {
  display: flex;
  justify-content: space-between;
  /* display: grid;
  grid-template-columns: 1fr min-content min-content min-content;
  justify-content: space-between; */
}

.footer-social-icons-list {
  display: flex;
  justify-content: space-between;
  /* outline: 5px solid rgba(155,20,51);
  outline-offset: -5px; */
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
}

.page-footer-logo {
  width:220px;
  height:68px;
  background: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.footer-site-navigation-item {
  margin-right: 58px;
  color:var(--basic-backgound);
}

.footer-site-navigation-item a {
  font-size: 18px;
  line-height: 24px;
  color:var(--basic-backgound);
}

.footer-contacts {
  width: 350px;
  height: 49px;
  /* outline: 5px solid rgba(155,20,51);
  outline-offset: -5px; */
}

/*.footer-license {
 margin-left: 131px;
}*/

.footer-contacts-address,
.footer-contacts-phone {
  font-size: 18px;
  line-height: 24px;
  color:var(--text-light-grey)
}

.footer-our-production-item a {
  font-size: 18px;
  line-height: 24px;
  color:var(--special-yellowlight);
}

.footer-license-info,
.footer-feedback-info,
.footer-feedback a,
.footer-developed-info,
.footer-developed a {
  font-size: 16px;
  line-height: 18px;
  color:var(--white)
}

.footer-license-info {
  /* outline: 5px solid rgba(155,20,51);
  outline-offset: -5px; */
}

.footer-feedback a,
.footer-developed a {
  color:var(--special-yellowlight);
}

.footer-developed {
  margin-left: 51px;
}

.footer-feedback {
  display: block;
  /* outline: 5px solid rgba(155,20,51);
  outline-offset: -5px; */
}

.contacts-list {
  list-style:none;
  position: relative;
}

.contacts-item::before{
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  margin-top: 11px;
  margin-left: -40px;
  background-color: var(--basic-red);
  background-repeat: no-repeat;
  background-position: 0 0;
/*   outline: 5px solid rgba(255,110,01,1) */;
  outline-offset: -5px;
}
/************************Блок ПОДВАЛ  END ************************ */

/************************Блок Перфораторы-Каталог  START ************************ */
.catalog-punchers-menu-item {
  align-self: center;
}

.catalog-punchers-menu-list {
  display: grid;
  grid-template-columns:min-content min-content min-content min-content;
  justify-content: start;
  grid-gap: 50px;
}

.catalog-punchers-menu-link,
.catalog-punchers-menu-title,
.catalog-filter,
.btn-filter,
.page-selection-number,
.page-selection-next {
  font-size: 13px;
  line-height: 18px;
}

.catalog-punchers-menu{
  position: relative;
}

.catalog-punchers-menu-link {
  color:var(--text-color-black)
}

/* .catalog-punchers-menu-link,
.catalog-punchers-menu-title ::before{
  position: absolute;
  content: "";
  width: 20px;
  height: 18px;
  top: 11px;
  left: 30px;
  background-image: url("../img/icon-right.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.9;
  outline: 5px solid rgba(255,0,0,0.7);
  outline-offset: -5px;
} */

.catalog-filter,
.btn-filter,
.page-selection-number,
.page-selection-next {
  font-style: normal;
  font-weight: normal;
}

.btn-filter {
  width: 220px;
  height: 38px;
  background: var(--white);
  border: 1px solid var(--border-button);
  box-sizing: border-box;
}

.catalog-filter,
.btn-filter,
.catalog-punchers-menu-link,
.catalog-punchers-menu-title,
.page-selection-next,
.product-cards-modal-buy-BFG6000-1,
.product-cards-modal-buy-BFG6000-2,
.product-cards-modal-buy-BFG6000-3,
.product-cards-modal-buy-BFG6000-4,
.product-cards-modal-buy-BFG6000-5,
.product-cards-modal-buy-BFG3000-1,
.product-cards-modal-buy-BFG3000-2,
.product-cards-modal-buy-BFG2000-1,
.product-cards-modal-buy-BFG2000-2,
.product-cards-modal-InBookmarks-BFG6000-1,
.product-cards-modal-InBookmarks-BFG6000-2,
.product-cards-modal-InBookmarks-BFG6000-3,
.product-cards-modal-InBookmarks-BFG6000-4,
.product-cards-modal-InBookmarks-BFG6000-5,
.product-cards-modal-InBookmarks-BFG3000-1,
.product-cards-modal-InBookmarks-BFG3000-2,
.product-cards-modal-InBookmarks-BFG2000-1,
.product-cards-modal-InBookmarks-BFG2000-2 {
  text-transform: uppercase;
}

.catalog-manufacturers-label,
.catalog-power-label {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color:var(--text-color-black)
}

.couple-of-words-title,
.catalog-punchers-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-punchers-title {
  color: var(--navigation);
  background-color: var(--punchers-block);
  height: 60px;
  padding-left: 29px;
  padding-top: 29px;
}

.catalog-cost-title,
.catalog-manufacturers-title,
.catalog-power-title {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.page-selection-item p,
.page-selection-item a {
  display: inline-block;
  width: 38px;
  height: 38px;
}

.page-selection-item span {
  background-color: var(--basic-red);
  color: var(--white);
}

.page-selection-item a {
  color: var(--text-color-black);
}

.couple-of-words {
  padding-top: 64px;
  height: 197px;
  background-color: var(--basic-backgound);
  min-width: auto;
}
/************************Блок Перфораторы-Каталог  END ************************ */

/************************Блок Фигуры  START ************************ */
.triangle-up {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 13px solid var(--basic-red);
}

.triangle-down {
  display: block;
  margin-top: 20px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 13px solid var(--basic-greylight);
}
/************************Блок Фигуры  END ************************ */

/************************Блок ФИЛЬТР  START *************************/
/* body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
} */

.filter-item {
  margin: 0;
  padding: 0;
  border: none;

  /* Для демонстрации */
  width: 260px;
  margin: 50px auto;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--basic-backgound);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--icon-color);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--range-controls);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--white);
  background-color: var(--text-color-grey);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-greylight);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--header-background);
  border: none;
  border-radius: 5px;
  background: var(--basic-backgound);
  font-family: inherit;
  font-size: inherit;
}
/************************Блок ФИЛЬТР  END *************************/

/************************Блок Социальные КНОПКИ  START *************************/
.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  background-color: var(--background-icon);
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-red);
}

/* .social-button:hover path,
.social-button:focus path {
  fill: var(--basic-black);
} */
/************************Блок Социальные КНОПКИ  END *************************/



