/* Variables */

:root {
  --basic-green: #63A63E;
  --success: #5FBB2D;
  --box-shadow: #367315;
  --special-greenlight: #8ED78F;
  --basic-grey: #3D546F;
  --credit: #405069;
  --navigation: #32425C;
  --header-background: #293449;
  --basic-greylight: #C5C5C5;
  --text-color-grey: #A9A9A9;
  --white: #FFF;
  --basic-backgound: #F1F5F7;
  --popular-goods:#F9F5F0;
  --lightgray: #EAEAEA;
  --text-light-grey: #F3F7F9;
  --border-button:#E5E5E5;
  --special-yellowlight: #FFD180;
  --special-yellow: #FFBF47;
  --special-yellowdelivery: #FFC047;
  --warning: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --error: #BA2732;
  --basic-red: #EE3643;
  --text-color-black: #000;
}
.page {
  width: 100%
}

.page-body {  /**********BODY***********/
  display: grid;
  grid-template-rows: min-content min-content min-content;
  align-content: start;
  /*min-*/width: 1200px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-color-black);
  background-color:var(--white);
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
/********************Блок ШАПКА  START ******************************/

.main-header {
  /*outline: 5px solid rgba(150,155,155,0.9);
  outline-offset: -5px;*/
  background: rgba(0, 0, 0,.05);
  /* display:grid;
  grid-template-rows:1fr 1fr 1fr;
  align-items:center;*/
}

.container {
  width: 940px;
  margin: auto;
}

.main-header,
.Ravshan-title,
.main-header-my-orders,
.main-header-personal-area,
.couple-of-words-title,
.catalog-punchers-title {
  font-family: "Cuprum", sans-serif;
  font-style: normal;
  font-weight: normal;
  /*width:1200px;
  height:320px;
  background: rgba(0, 0, 0, 0.01);*/
}

.Ravshan-title {
  color: var(--text-color-black);
}

.main-header-my-orders,
.main-header-personal-area{
  color: var(--navigation);
  font-size: 16px;
  line-height: 18px;
}


.main-header-background-logo {
  display: grid;
  grid-template-columns: min-content 1fr;
  justify-items:center;
  /*width: 1200px;*/
  height:42px;
  background-color: var(--header-background);
  /*outline: 5px solid rgba(255,0,0,1);
  outline-offset: -5px;*/
  /*display: flex;
  justify-content: space-between;*/
}

.site-navigation {
  /*display: flex;
  justify-content: space-between;*/
  /*width:940px;*/
  height:60px;
  /*left: 130px;*/
  background-color: var(--navigation);
  box-shadow: inset 0px -5px 0px var(--header-background);
}

.main-navigation {
 /* outline: 5px solid rgba(0,0,255,1);
  outline-offset: -5px;*/
  /*margin-left: 130px;*/
}

.site-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  color: var(--white);
}

.site-navigation-item {
  padding-top: 18px;
}

.site-navigation li a {
  color: var(--white);
}

.main-header-logo {
  display:block;
  width:220px;
  height:47px;
  background: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  margin-left: 130px;
}

.img-logo-technomart{
  margin-left: 56px;
  padding-top: 13px;
}

.header-block {
  display: grid;
  grid-template-columns: 1fr 1fr max-content;
  /*outline: 5px solid rgba(0,255,0,1);
  outline-offset: -5px;*/
  margin-top: 40px;
  justify-items:stretch;
}

.main-header-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  /*justify-content:space-between;*/
  margin-top: 10px;
  /*display: flex;
  justify-content: space-between;*/
}
}

.header-order{
  margin:-10px;
  padding-top: 10px;
  padding-bottom: -10px;
  display: block;
  background-color: var(--basic-green);
  width:150px;
  height:32px;
  text-align: center;
  color: var(--white);
}

.main-header-list a {
  color: var(--white);
  margin-left: 30px;
}

.Ravshan-title{
  font-size: 21px;
  line-height: 21px;
}

/*.header-cart {

}*/

.site-navigation,
.header-bookmarks,
.header-cart,
.header-order,
.main-header-input,
.header-cart-catalog {
  list-style:none;
  font-size: 18px;
  line-height: 24px;
  color: var(--text-color-black); /*Цвет потом поменять на --white*/
}

.header-cart-catalog {
  display: block;
  background-color: var(--basic-red);
  width:136px;
  height:42px;
  color: var(--white);
}

.header-about {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
  margin-left: 30px;
}

.contacts-phone {
  display: block;
  width: 270px;
  height: 45px;
  background: #F3F7F9;
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  text-align: center;
  margin-left: 25px;
  margin-top: 15px;
}

.header-contact-address {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  color:var(--navigation);
  text-align: center;
}

.login-link,
.registration-link {
  font-size: 21px;
  line-height: 21px;
  color: var(--text-color-black);
}

.block-header-in {
  /*outline: 5px solid rgba(250,5,15);
  outline-offset: -5px;*/
  display: block;
  grid-template-columns: : min-content min-content;
  margin-top: 30px;
}

.login-link {
  /*width: 121px;
  height: 45px;*/
  /*outline: 5px solid rgba(250,5,15);
  outline-offset: -5px;*/
  background-color: var(--white);
  padding: 10px 15px;
  padding-left: 50px;
  margin-right: 10px;

}

.registration-link {
  /*outline: 5px solid rgba(150,25,125);
  outline-offset: -5px;*/
  background-color: var(--white);
  padding: 10px 15px;
  padding-left: 20px;
  /*width: 150px;
  height: 45px;*/
}

/********************Блок ШАПКА  END ******************************/
/**********************Блок Наша Продукция  START **********/
.our-production {
  font-family: "Cuprum", sans-serif;
}

.our-production-block {
  width:135px;
  height:38px;
  background-color: rgba(255,255,255,0.3);
  text-align: center;
  mix-blend-mode: normal;
}

.our-production-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: space-between;
  /*outline: 5px solid rgba(150,225,25);
  outline-offset: -5px;*/
}

.our-production-title {
  display: none;
}

.our-production-info {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.our-production-materials,
.our-production-instruments,
.our-production-technics,
.our-production-discounts,
.our-production-delivery {
  width:300px;
  height:123px;
  color: var(--white);
}

/*.order3 {
  order:3;
}

.order2 {
  order:2;
}

.order1 {
  order:1;
}*/

.our-production-materials {
  background-color: var(--special-yellow);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.our-production-instruments {
  background-color: var(--special-blue);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.our-production-technics {
  background-color: var(--special-lilac);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.our-production-discounts {
  background-color: var(--special-greenlight);
  order: 2;
  /*margin-top: 20px;*/
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.our-production-delivery {
  background-color: var(--special-yellowdelivery);
  order: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.our-production-item a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width:192px;
  height:38px;
  color:var(--white);
}

.slider-open,
.popular-goods-all,
.popular-manufacturers-all,
.contacts-moredetails,
.contacts-gotlost {
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width:192px;
  height:38px;
  background-color: var(--basic-red);
  color: var(--white);
}

/********************** СЛАЙДЕР  СТАРТ **********/
.slider {
  font-family: "Cuprum", sans-serif;
  font-style: normal;
  font-weight: normal;
  order:1;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  margin-top: 20px;
}

.slider .our-production-punchers {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  align-items: center;
  text-transform: uppercase;
  color:var(--white);
  margin-top: -150px;
}

.slider-info {
  font-size: 18px;
  line-height: 24px;
  color:var(--white);
}

.slider-open {
  position: absolute;
  text-transform: uppercase;
  width:192px;
  height:38px;
  background-color: var(--basic-red);
}

.slider-open a {
  color:var(--white);
}
/********************** СЛАЙДЕР  END **********/
/**********************Блок Наша Продукция  END **********/


/**********************Блок Популярные товары  START **********/
.popular-goods {
  display: grid;
  grid-template-rows:1fr;
  font-style: normal;
  font-weight: normal;
  justify-content: space-between;
  margin-top: 59px;
 /* outline: 5px solid rgba(150,225,25);
  outline-offset: -5px;*/
}

.popular-goods-block {
  margin:0;
  padding: 0;
  display: grid;
  grid-template-columns:1fr 1fr;
  background: var(--popular-goods);
  height: 89px;
 /* outline: 5px solid rgba(50,125,125);
  outline-offset: -5px;*/
}

.popular-goods-list {
  margin:0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /*outline: 5px solid rgba(250,125,125);
  outline-offset: -5px;*/
}

.popular-goods-item {
  margin:0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
}

.popular-goods-list,
.popular-manufacturers-list,
.footer-site-navigation-list,
.footer-our-production-list,
.footer-social-icons-list,
.main-header-list,
.catalog-punchers-menu-list,
.catalog-manufacturers-list,
.catalog-power-list,
.sorting-list,
.product-cards-list,
.page-selection-list
 {
  list-style: none;
}

.popular-goods-title,
.popular-manufacturers-title {
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  line-height: 30px;
  color:var(--navigation);
  text-transform: uppercase;
}

.popular-goods-title {

}

.popular-goods-all-link {
  color: var(--white);
}

.popular-goods-modal-buy-BFG9000,
.popular-goods-modal-InBookmarks-BFG9000,
.popular-goods-modal-buy-BFG6000,
.popular-goods-modal-InBookmarks-BFG6000,
.popular-goods-modal-buy-BFG3000,
.popular-goods-modal-InBookmarks-BFG3000,
.popular-goods-modal-buy-BFG2000,
.popular-goods-modal-InBookmarks-BFG2000 {
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

.punchers-Bosch {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color:var(--text-color-black);
}

.price {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: var(--text-color-grey);
}

.discount_price {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--text-color-black);
}

.popular-goods-modal-buy-BFG9000,
.popular-goods-modal-InBookmarks-BFG9000,
.popular-goods-modal-buy-BFG3000,
.popular-goods-modal-InBookmarks-BFG3000,
.popular-goods-modal-buy-BFG6000,
.popular-goods-modal-InBookmarks-BFG6000,
.popular-goods-modal-buy-BFG2000,
.popular-goods-modal-InBookmarks-BFG2000 {
  display: block;
  width: 135px;
  height: 38px;
  border-radius: 2px;
}

.popular-goods-modal-buy-BFG9000,
.popular-goods-modal-buy-BFG6000,
.popular-goods-modal-buy-BFG3000,
.popular-goods-modal-buy-BFG2000 {
  background: var(--basic-green);
  box-shadow: inset 0px -3px 0px var(--box-shadow)/*#367315*/;
  color: var(--white);
 /* padding-top: 10px;
  padding-bottom: 20px;*/
}

.popular-goods-modal-InBookmarks-BFG9000,
.popular-goods-modal-InBookmarks-BFG6000,
.popular-goods-modal-InBookmarks-BFG3000,
.popular-goods-modal-InBookmarks-BFG2000 {
  border: 3px solid var(--basic-green);
  box-sizing: border-box;
  color: var(--navigation);
}

.popular-goods-modal {
  display: none;
}



/**********************Блок Популярные товары  END **********/

/********************Блок Популярные Производители  START *************/
.popular-manufacturers {
  display: grid;
  grid-template-rows:1fr;
  font-style: normal;
  font-weight: normal;
  /*outline: 5px solid rgba(150,225,25);
  outline-offset: -5px;*/
}

.popular-manufacturers-block {
  margin-top: 70px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns:1fr 1fr;
  background: var(--popular-goods);
  height: 89px;
  /*outline: 5px solid rgba(50,25,225);
  outline-offset: -5px;*/
}

.popular-manufacturers-list {
  margin:0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /*outline: 5px solid rgba(250,125,125);
  outline-offset: -5px;*/
}

.popular-manufacturers-item {
  width: 220px;
  height: 145px;
  background: var(--white);
  border: 1px solid var(--lightgray);
  box-sizing: border-box;
}
/********************Блок Популярные Производители  END *************/


/**********************Блок СОРТИРОВКА  START **********/
.page-selection-next,
.page-selection-number {
  display: block;
  border: 1px solid var(--border-button);
  box-sizing: border-box;
  border-radius: 2px;
  text-align: center;
}

.page-selection-number {
  width: 38px;
  height: 38px;
}

li span/* .page-selection-number*/ {
  background-color:var(--basic-red);
  color: var(--white);
  border: 0px !important;
}

.page-selection-next {
  width: 140px !important;
  height: 38px;
}

/**********************Блок СОРТИРОВКА  END **********/

 /************************Блок СЕРВИСЫ  START ************************** */
.section-services {
  margin: 0;
  padding: 0;
  width: 1200px;
  height: 522px;
  background-color: var(--basic-backgound);
}

.services {
  font-family: "Cuprum", sans-serif;
  font-style: normal;
  display: grid;
  grid-template-columns: :1fr 1fr 1fr;
  grid-template-rows:1fr ;
  /*outline: 5px solid rgba(250,125,125);
  outline-offset: -5px;*/
  padding-top: 64px;
}

.services-block {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-left: 10px;
}

.delivery-block {
margin-left: 20px;
}

.services-titles,
.services-delivery,
.contacts-titles {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color:var(--text-color-black);
}

.services-delivery {
  color:var(--navigation);
}

.services-delivery-item {
  width: 240px;
  height: 61px;
  background-color: color: var(--white);
  box-shadow: 0px 1px 0px var(--white);
  list-style: none;
}

.services-delivery-link {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color:var(--navigation);
}

.services-delivery-item {
  width: 240px;
  height: 61px;
  background-color:var(--white);
  box-shadow: 0px 1px 0px var(--white);
}

.services-guarantee-item,
.services-credit-item {
  width: 240px;
  height: 61px;
  background-color:var(--navigation);
  box-shadow: 0px 1px 0px var(--header-background), inset 0px 1px 0px var(--credit);
  list-style: none;
}

.services-guarantee-link,
.services-credit-link {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--white);
}
/************************Блок СЕРВИСЫ  END ************************** */

/******************Блок Компания Техномарт-Контакты  START ***********/
.contacts {
  font-family: "Cuprum", sans-serif;
  font-style: normal;
  font-weight: normal;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  margin-bottom: 70px;
}

.contacts-moredetails-link,
.contacts-gotlost-link {
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  background-color:var(--basic-red);
  height: 38px;
}

.contacts-moredetails-link {
  width: 220px;
}

.contacts-gotlost-link {
  width: 300px;
}

.contacts-item {
  font-size: 18px;
  line-height: 24px;
  color:var(--text-color-black);
}
/******************Блок Компания Техномарт-Контакты  END ***********/


/************************Блок ПОДВАЛ  START ************************ */
.page-footer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  font-family: "Cuprum", sans-serif;
  font-style: normal;
  font-weight: normal;
  /*outline: 5px solid rgba(255,0,0,0.7);
  outline-offset: -5px;*/
}

.footer-top {
  height: 193px;
  background: var(--navigation);
  /*outline: 5px solid rgba(255,110,01,1);
  outline-offset: -5px;*/
}

.footer-site-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items:center;
}

.footer-site-navigation-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-left: -100px;
}

.footer-site-navigation-contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-our-production-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: -70px;
}

.footer-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 107px;
  background: var(--header-background);
 /* outline: 5px solid rgba(155,20,51);
  outline-offset: -5px;*/
}

.footer-social-icons-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.page-footer-logo {
  /*display:block;*/
  margin-left: -65px;
  width:220px;
  height:68px;
  background: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.footer-site-navigation-item {
  margin-right: 58px;
  color:var(--basic-backgound);
}

.footer-site-navigation-item a {
  font-size: 18px;
  line-height: 24px;
  color:var(--basic-backgound);
}

.footer-contacts {
  margin-left: 133px;
}

.footer-license {
 margin-left: 131px;
}

.footer-contacts-address,
.footer-contacts-phone {
  font-size: 18px;
  line-height: 24px;
  color:var(--text-light-grey)
}

.footer-our-production-item a {
  font-size: 18px;
  line-height: 24px;
  color:var(--special-yellowlight);
}

.footer-license-info,
.footer-feedback-info,
.footer-feedback a,
.footer-developed-info,
.footer-developed a {
  font-size: 16px;
  line-height: 18px;
  color:var(--white)
}

.footer-feedback a,
.footer-developed a {
  color:var(--special-yellowlight);
}

/************************Блок ПОДВАЛ  END ************************ */

/************************Блок Перфораторы-Каталог  START ************************ */
.catalog-punchers-menu-link,
.catalog-punchers-menu-title,
.catalog-filter,
.btn-filter,
.page-selection-number,
.page-selection-next {
  font-size: 13px;
  line-height: 18px;
}

.catalog-punchers-menu-link {
  color:var(--text-color-black)
}

.catalog-filter,
.btn-filter,
.page-selection-number,
.page-selection-next {
  font-style: normal;
  font-weight: normal;
}

.btn-filter {
  width: 220px;
  height: 38px;
  background: var(--white);
  border: 1px solid var(--border-button);
  box-sizing: border-box;
}

.catalog-filter,
.btn-filter,
.catalog-punchers-menu-link,
.catalog-punchers-menu-title,
.page-selection-next,
.product-cards-modal-buy-BFG6000-1,
.product-cards-modal-buy-BFG6000-2,
.product-cards-modal-buy-BFG6000-3,
.product-cards-modal-buy-BFG6000-4,
.product-cards-modal-buy-BFG6000-5,
.product-cards-modal-buy-BFG3000-1,
.product-cards-modal-buy-BFG3000-2,
.product-cards-modal-buy-BFG2000-1,
.product-cards-modal-buy-BFG2000-2,
.product-cards-modal-InBookmarks-BFG6000-1,
.product-cards-modal-InBookmarks-BFG6000-2,
.product-cards-modal-InBookmarks-BFG6000-3,
.product-cards-modal-InBookmarks-BFG6000-4,
.product-cards-modal-InBookmarks-BFG6000-5,
.product-cards-modal-InBookmarks-BFG3000-1,
.product-cards-modal-InBookmarks-BFG3000-2,
.product-cards-modal-InBookmarks-BFG2000-1,
.product-cards-modal-InBookmarks-BFG2000-2
 {
  text-transform: uppercase;
}

.catalog-manufacturers-label,
.catalog-power-label {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color:var(--text-color-black)
}

.couple-of-words-title,
.catalog-punchers-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-punchers-title {
  color: var(--navigation);
}

.catalog-cost-title,
.catalog-manufacturers-title,
.catalog-power-title {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.page-selection-item p,
.page-selection-item a {
  display: inline-block;
  width: 38px;
  height: 38px;
}

.page-selection-item p {
  background-color: var(--basic-red);
  color: var(--white);
}

.page-selection-item a {
  color: var(--text-color-black);
}
/************************Блок Перфораторы-Каталог  END ************************ */

/************************Блок Фигуры  START ************************ */
.triangle-up {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 13px solid var(--basic-red);
}

.triangle-down {
  display: block;
  margin-top: 20px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 13px solid var(--basic-greylight);
}

/************************Блок Фигуры  END ************************ */







