/* Variables */

:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-backgound: #F1F5F7;
  --white: #FFF;
  --special-yellow: #FFBF47;
  --special-yellowlight: #FFD180;
  --special-yellowdelivery: #FFC047;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;
  --lightgray: #EAEAEA;
  --navigation: #32425C;
  --header-background: #293449;
  --text-color-black: #000;
  --text-color-grey: #A9A9A9;
  --text-light-grey: #F3F7F9;

}

.page-body {  /**********BODY***********/
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-color-black);
  background-color:var(--white);
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
/********************Блок ШАПКА  START ******************************/
.main-header,
.Ravshan-title,
.main-header-my-orders,
.main-header-personal-area,
.couple-of-words-title,
.catalog-punchers-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  /*width:1200px;
  height:320px;
  background: rgba(0, 0, 0, 0.01);*/
}

.Ravshan-title {
  color: var(--text-color-black);
}

.main-header-my-orders,
.main-header-personal-area{
  color: var(--navigation);
  font-size: 16px;
  line-height: 18px;
}


.main-header-background-logo {
  width:1200px;
  height:42px;
  background-color: var(--header-background);
}

.main-header-logo {
  display:block;
  margin-top: 20px;
  width:220px;
  height:47px;
  background: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.header-block {
  margin-top: 170px;
}

.header-order{
  display: block;
  background-color: var(--basic-green);
  width:150px;
  height:42px;
  text-align: center;
}

.main-header-list:nth-child(3) {
  width:150px;
  height:42px;
}

.Ravshan-title{
  font-size: 21px;
  line-height: 21px;
}

.site-navigation,
.header-bookmarks,
.header-cart,
.header-order,
.main-header-input,
.header-cart-catalog {
  list-style:none;
  font-size: 18px;
  line-height: 24px;
  color: var(--text-color-black); /*Цвет потом поменять на --white*/
}

.header-order {
  color: var(--white); /*Потом этот блок убрать*/
}

.header-cart-catalog {
  display: block;
  background-color: var(--basic-red);
  width:136px;
  height:42px;
  color: var(--white);
}

.header-about {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
  margin-top: 85px;
}

.contacts-phone {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
}

.header-contact-address {
  font-size: 14px;
  line-height: 24px;
}

.login-link,
.registration-link {
  font-size: 21px;
  line-height: 21px;
  color: var(--text-color-black);
}

/********************Блок ШАПКА  END ******************************/
/**********************Блок Наша Продукция  START **********/
.our-production {
  font-family: "Cuprum", Arial, sans-serif;
}

.our-production-title {
  display: none;
}

.our-production-info {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.our-production .our-production-block {
  width:135px;
  height:38px;
  background-color: rgba(255,255,255,0.3);
  text-align: center;
  mix-blend-mode: normal;
}

.our-production-materials,
.our-production-instruments,
.our-production-technics,
.our-production-discounts,
.our-production-delivery {
  width:300px;
  height:123px;
  color: var(--white);
}

.our-production-materials {
  background-color: var(--special-yellow);
}

.our-production-instruments {
  background-color: var(--special-blue);
}

.our-production-technics {
  background-color: var(--special-lilac);
}

.our-production-discounts {
  background-color: var(--special-greenlight);
}

.our-production-delivery {
  background-color: var(--special-yellowdelivery);
}

.our-production-item a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width:192px;
  height:38px;
  color:var(--white);
}

.slider-open,
.popular-goods-all,
.popular-manufacturers-all,
.contacts-moredetails,
.contacts-gotlost {
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width:192px;
  height:38px;
  background-color: var(--basic-red);
  color: var(--white);
}

/********************** СЛАЙДЕР  СТАРТ **********/
.slider {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.slider .our-production-punchers {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  align-items: center;
  text-transform: uppercase;
  color:var(--white);
  margin-top: -250px;
}

.slider-info {
  font-size: 18px;
  line-height: 24px;
  color:var(--white);
}

.slider-open {
  position: absolute;
  text-transform: uppercase;
  width:192px;
  height:38px;
  background-color: var(--basic-red);
}

.slider-open a {
  color:var(--white);
}
/********************** СЛАЙДЕР  END **********/
/**********************Блок Наша Продукция  END **********/


/**********************Блок Популярные товары  START **********/
.popular-goods {
  margin-top: 200px;
  font-style: normal;
  font-weight: normal;
}

.popular-goods-list,
.popular-manufacturers-list,
.footer-site-navigation-list,
.footer-our-production-list,
.footer-social-icons-list,
.main-header-list,
.catalog-punchers-menu-list,
.catalog-manufacturers-list,
.catalog-power-list,
.sorting-list,
.product-cards-list,
.page-selection-list
 {
  list-style: none;
}

.popular-goods-title,
.popular-manufacturers-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color:var(--navigation);
  text-transform: uppercase;
}

.popular-goods-all-link {
  color: var(--white);
}

.popular-goods-modal-buy-BFG9000,
.popular-goods-modal-InBookmarks-BFG9000,
.popular-goods-modal-buy-BFG6000,
.popular-goods-modal-InBookmarks-BFG6000,
.popular-goods-modal-buy-BFG3000,
.popular-goods-modal-InBookmarks-BFG3000,
.popular-goods-modal-buy-BFG2000,
.popular-goods-modal-InBookmarks-BFG2000 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

/*.popular-goods-list {
  font-family: "PT Sans Narrow", Arial, sans-serif;
}*/

.punchers-Bosch {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color:var(--text-color-black);
}

.price {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: var(--text-color-grey);
}

.discount_price {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--text-color-black);
}

/**********************Блок Популярные товары  END **********/

/**********************Блок Популярные производители  START **********/
/*.popular-manufacturers-link{
color: var(--white);
}*/
/**********************Блок Популярные производители  END **********/

 /************************Блок СЕРВИСЫ  START ************************** */
.services {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
}

.services-titles,
.services-delivery,
.contacts-titles {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color:var(--text-color-black);
}

.services-delivery {
  color:var(--navigation);
}

.services-delivery-item {
  width: 240px;
  height: 61px;
  background-color: color: var(--white);
  box-shadow: 0px 1px 0px #FFFFFF;
  list-style: none;
}

.services-delivery-link {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color:var(--navigation);
}

.services-guarantee-item,
.services-credit-item {
  width: 240px;
  height: 61px;
  background-color:var(--navigation);
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
  list-style: none;
}

.services-guarantee-link,
.services-credit-link {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--white);
}
/************************Блок СЕРВИСЫ  END ************************** */

/******************Блок Компания Техномарт-Контакты  START ***********/
.contacts {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.contacts-moredetails-link,
.contacts-gotlost-link {
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  background-color:var(--basic-red);
  height: 38px;
}

.contacts-moredetails-link {
  width: 220px;
}

.contacts-gotlost-link {
  width: 300px;
}

.contacts-item {
  font-size: 18px;
  line-height: 24px;
  color:var(--text-color-black);
}
/******************Блок Компания Техномарт-Контакты  END ***********/


/************************Блок ПОДВАЛ  START ************************ */
.page-footer {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.page-footer-logo {
  display:block;
  margin-top: 20px;
  width:220px;
  height:68px;
  background: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.footer-site-navigation-item a {
  font-size: 18px;
  line-height: 24px;
  color:black /*var(--basic-backgound); будет потом такой цвет*/
}

.footer-contacts-address,
.footer-contacts-phone {
  font-size: 18px;
  line-height: 24px;
  color:black /*var(--text-light-grey} будет потом такой цвет*/
}

.footer-our-production-item a {
  font-size: 18px;
  line-height: 24px;
  color:var(--special-yellowlight);
}

.footer-license-info,
.footer-feedback-info,
.footer-feedback a,
.footer-developed-info,
.footer-developed a {
  font-size: 16px;
  line-height: 18px;
  color:black /*var(--white) будет потом такой цвет*/
}

.footer-feedback a,
.footer-developed a {
  color:var(--special-yellowlight);
}

/************************Блок ПОДВАЛ  END ************************ */

/************************Блок Перфораторы-Каталог  START ************************ */
.catalog-punchers-menu-link,
.catalog-punchers-menu-title,
.catalog-filter,
.btn-filter,
.page-selection-number,
.page-selection-next {
  font-size: 13px;
  line-height: 18px;
}

.catalog-punchers-menu-link {
  color:var(--text-color-black)
}

.catalog-filter,
.btn-filter,
.page-selection-number,
.page-selection-next {
  font-style: normal;
  font-weight: normal;
}

.catalog-filter,
.btn-filter,
.catalog-punchers-menu-link,
.catalog-punchers-menu-title,
.page-selection-next,
.product-cards-modal-buy-BFG6000-1,
.product-cards-modal-buy-BFG6000-2,
.product-cards-modal-buy-BFG6000-3,
.product-cards-modal-buy-BFG6000-4,
.product-cards-modal-buy-BFG6000-5,
.product-cards-modal-buy-BFG3000-1,
.product-cards-modal-buy-BFG3000-2,
.product-cards-modal-buy-BFG2000-1,
.product-cards-modal-buy-BFG2000-2,
.product-cards-modal-InBookmarks-BFG6000-1,
.product-cards-modal-InBookmarks-BFG6000-2,
.product-cards-modal-InBookmarks-BFG6000-3,
.product-cards-modal-InBookmarks-BFG6000-4,
.product-cards-modal-InBookmarks-BFG6000-5,
.product-cards-modal-InBookmarks-BFG3000-1,
.product-cards-modal-InBookmarks-BFG3000-2,
.product-cards-modal-InBookmarks-BFG2000-1,
.product-cards-modal-InBookmarks-BFG2000-2
 {
  text-transform: uppercase;
}

.catalog-manufacturers-link,
.catalog-power-link {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color:var(--text-color-black)
}

.couple-of-words-title,
.catalog-punchers-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-punchers-title {
  color: var(--navigation);
}

.catalog-cost-title,
.catalog-manufacturers-title,
.catalog-power-title {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.page-selection-item p,
.page-selection-item a {
  display: inline-block;
  width: 38px;
  height: 38px;
}

.page-selection-item p {
  background-color: var(--basic-red);
  color: var(--white);
}

.page-selection-item a {
color: var(--text-color-black);
}
/************************Блок Перфораторы-Каталог  END ************************ */








